<h1><%= t('title') %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radio_lists.each do |radio_list| %>
  <tr>
    <td><%= radio_list.name.to_s%></td>
    <td><%= radio_list.description.to_s%></td>
    <td><%= radio_list.radio_url.to_s%></td>
    <td><%= link_to 'Play', 'radio_lists/play_stream/'+ radio_list.id.to_i.to_s %></td>
    <td><%= link_to 'Show', radio_list %></td>
    <td><%= link_to 'Edit', edit_radio_list_path(radio_list) %></td>
    <td><%= link_to 'Destroy', radio_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Radio list', new_radio_list_path %>
