<% content_for :head do -%>
  <%= javascript_pack_tag 'radio_lists' %>
<% end -%><div class="span12">
<h1>
  <%= t('title') %>
</h1>

 <% if flash[:error] %>
 	<br />
    <div class="alert alert-error">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
		<%= flash[:error] %>
	</div>
  <% end %>
<div class="table-responsive" id="radio_lists">
  <table class="table">
    <thead>
    <tr>
      <th><%= t('radio_name') %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr v-for="radio in radio_lists">
        <td>{{ radio.name }}</td>
        <td>
          <div v-on:click="play(radio.id)">
            <img alt="play radio" src="/assets/play_button.png" class="fluid_image radio_list">
          </div>
          <buttons v-bind:showit="showit"></buttons>
        </td>
        <td>
          <div v-on:click="stop(radio.id)">
            <img alt="stop radio" src="/assets/file_stop.png" class="fluid_image radio_list">
          </div>
        </td>
        <td>
          <!-- <div v-on:click="edit(radio.id)">
            <img alt="edit radio" src="/assets/file_edit.png" class="fluid_image radio_list">
          </div> -->
        </td>
        <td>
          <!-- <div v-on:click="delete(radio.id)">
            <img alt="delete radio" src="/assets/cross.png" class="fluid_image radio_list">
          </div> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<div id="commands">
  <small><%= link_to image_tag(
    "file_add.png",
    class: 'fluid_image radio_list',
    border: 0,
    alt: I18n.t('add_radio'),
    title: I18n.t('add_radio')
  ), new_radio_list_path %></small>
  <small><%= link_to image_tag(
    "cross.png",
    class: ' fluid_image radio_list',
    border: 0,
    alt: I18n.t('clear_all'),
    title: I18n.t('clear_all')
  ), '/radio_lists/reset_all', data: { confirm: I18n.t('confirmation') } %> </small>
  <%if session[:current_stream_id]%>
    <small>  <%= link_to image_tag(
      "play_button.png",
      class: 'fluid_image radio_list',
      border: 0,
      alt: I18n.t('play_sleeping'),
      title: I18n.t('play_sleeping')
    ), '/radio_lists/play_stream/'+ session[:current_stream_id].to_s %></small>
  <%end%>
</div>
</div>
