<div class="span12">
<h1>
  <%= t('title') %>
  <small><%= link_to image_tag("file_add.png", :class => 'fluid_image', :border=>0,:alt => 'New'), new_radio_list_path %></small>
  <%if session[:current_stream_id]%>
      <%= link_to image_tag("play_button.png", :class => 'fluid_image', :border=>0,:alt => 'Play', :title => I18n.t('play_sleeping')), '/radio_lists/play_stream/'+ session[:current_stream_id].to_s %>
  <%end%>
</h1>


<div class="table-responsive">
<table class="table">
  <thead>
  <tr>
    <th><%= t('radio_name') %></th>
    <!--<th><%= t('radio_type') %></th>-->
    <!--<th><%= t('radio_url') %></th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @radio_lists.each do |radio_list| %>
  <tr>
    <td><%= radio_list.name.to_s%></td>
    <!--<td><%= radio_list.description.to_s%></td>-->
    <!--<td><%= radio_list.radio_url.to_s%></td>-->
    <td><%= link_to image_tag("play_button.png", :class => 'fluid_image', :border=>0,:alt => 'Play', :title => I18n.t('play_title')), '/radio_lists/play_stream/'+ radio_list.id.to_i.to_s %></td>
    <td><%= link_to image_tag("file_edit.png", :class => 'fluid_image', :border=>0,:alt => 'Edit', :title => I18n.t('edit_title')), edit_radio_list_path(radio_list) %></td>
    <td><%= link_to image_tag("cross.png", :class => 'fluid_image', :border=>0,:alt => 'Destroy', :title => I18n.t('delete_title')), radio_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
</div>
<br />
</div>
